<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/ttAXDB</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>

    <property name="connection_pool_size">1</property>
    <property name="show_sql">true</property>

    <property name="connection.username">postgres</property>
    <property name="connection.password">1</property>

    <mapping class="com.ttAX.entity.UsersdbEntity"/>
  </session-factory>

</hibernate-configuration>